body {
  background-color: #EAE5E6;
}

.logo {
  color: #CC0056
}
.who {
  margin-top: 20px;
}
.pill {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #CC0056;
  color: white;
}