<div class="stuff" 
  ng-repeat="item in myItems track by item.id">
  <div class= "image-container">
    <img src="{{ item.imageUrl }}">
  </div>
  <div class="summary">
    <div>
      <h4>{{ item.name }}</h4>
      <label>Owner:</label><span>{{ item.user.firstName}} {{ item.user.lastName }}</span>
      <div class="btn-container">
        <button ng-if="item.borrowed" class="b-btn btn btn-success" ng-click="checkInOrOut(item.id, item.borrowed)">Return</button>
        <!-- Button trigger editLendModal.html -->
        <button ng-if="!item.borrowed" class="b-btn btn btn-danger" ng-click="open(item)">Lend</button>
      </div>
    </div>
    <div class="summary-borrow">
      <label>Borrower:</label><span>{{ item.borrower.firstName }} {{ item.borrower.lastName }}</span>
      <button ng-class="{ unavailable: item.borrowed, available: !item.borrowed }" class="circle"></button>
      <div ng-if="item.borrowed">
        <label>since:</label><span>{{ item.dateBorrowed | date }}</span>
      </div>
    </div>
  </div>
</div>