<div class="stuff" 
  ng-repeat="item in myItems track by item.id">
  <div class= "image-container" ng-click="toggle(item)">
    <img ng-if="item.show" src="{{ item.imageUrl }}">
    <p ng-if="!item.show" class="description">{{ item.description }}</p>
  </div>
  <div class="summary">
    <div>
      <div class="item-name">
        <div class="edit pull-right" type="button" ng-click="openEdit(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
        <h4>{{ item.name }}</h4>
      </div>
      <label>Owner:</label><span>{{ item.user.firstName}} {{ item.user.lastName }}</span>
    </div>
    <div class="summary-borrow">
      <div ng-if="item.borrowed">
        <label>Borrower:</label><span>{{ item.borrower.firstName }} {{ item.borrower.lastName }}</span> 
        <button class="b-btn btn btn-success pull-right" ng-click="returnItem(item.id)">Return</button>
      </div>
      <div ng-if="!item.borrowed">
        <label>Borrower:</label><span>Available</span> 
        <!-- Button trigger editLendModal.html -->
        <button class="b-btn btn btn-danger pull-right" ng-click="open(item)">Lend</button>
      </div>
      <div ng-if="item.borrowed">
        <label>since:</label><span>{{ item.dateBorrowed | date }}</span>
      </div>
    </div>
  </div>
</div>