<p class="lead-p">Because you don't have to steal when you can borrow from a friend! Find out what your friends can lend you and decide what you want to lend to your friends.</p>

<div class="text-center who">
<h3>Pray tell,</h3>
<h3>who are you?</h3>
<div class="pill-set">
  <div ng-show="bool" ng-repeat="user in allUsers" class="pill"><a href="#/borrow-stuff" ng-click="bool='false'">{{ user.firstName }} {{ user.lastName }}</a></div>
</div>

<div class="pill-set" >
<!-- track by user_id -->
  <div ng-repeat="user in allUsers track by user.id"><a href="#/borrow-stuff" class="pill" ng-click="(selectUser(user.id)">{{ user.firstName }} {{ user.lastName }}</a></div>
</div>
</div>

<div 