<h2 class="text-right logo">BegBorrow<span class="logo-b">NeverSteal</span></h2>
<div class="lead-p">
  <p>Because you don't have to <span class="steal">steal</span>...</p>
  <p class="text-right"> ...when you can <span class="borrow">borrow</span> from a friend!</p>
  <br>
  <p>Find out what your friends can lend you and decide what you want to lend to your friends.</p>
</div>

<div class="text-center who">
  <h3>Pray tell, who are you?</h3>

  <div class="pill-set" > 
    <button ng-repeat="user in allUsers track by user.id" ng-click="select(user.id)" class="pill btn btn-default">  
      {{ user.firstName }} {{ user.lastName }}
    </button>
  </div>
</div>
