<h2 class="text-right logo" ng-click="home()">BegBorrow<span class="logo-b">NeverSteal</span></h2>

<!-- NAV -->
<div class="header">
  <div class="header-nav">
    <button ng-click="prevState()" class="arrow">&larr;</button>
    <button ng-click="nextState()" class="arrow">&rarr;</button>
  </div>
  <div class="header-menu">{{ navTitle }}</div>
  <!-- Button trigger newItemModal.html -->
  <div class="header-new modal-trigger" type="button" ng-click="open(size)"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></div>
</div>

<div ui-view></div>

