<div class="header">
  <div class="header-nav">
    <button ng-click="prevState()" class="arrow">&larr;</button>
    <button ng-click="nextState()" class="arrow">&rarr;</button>
  </div>
  <div class="header-menu">{{ navTitle }}</div>
  <!-- Button trigger modal -->
  <div class="header-new modal-trigger" type="button" ng-click="open()"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></div>
</div>

<div ui-view></div>

<!-- Modal -->
<div>
  <script type="text/ng-template" id="newItemModal.html">
    <div class="modal-header">
      <h3 class="modal-title">Add stuff to Lend</h3>
    </div>
    <div class="modal-body">
      <form ng-submit="createItem()">
        <div class="form-group">
          <!-- <label for="name">Name of Stuff</label> -->
          <input type="text" name="name" id="name" placeholder="Name of Stuff" class="form-control" ng-model="newItem.name">
        </div>
        <div class="form-group">
          <!-- <label for="category">Category</label> -->
          <select name="category" id="category" class="form-control" ng-model="newItem.category">
            <option value="">-- Select Best Category --</option>
            <option value="kitchen">Kitchen</option>
            <option value="tools">Tools</option>
            <option value="media">Media(Books n' such)</option>
            <option value="outdoor fun">Outdoor Fun</option>
            <option value="indoor fun">Indoor Fun</option>
            <option value="misc">Misc</option>
          </select>
        </div>
        <div class="form-group">
          <!-- <label for="description">Description</label> -->
          <textarea name="description" id="description" placeholder="Description" class="form-control" ng-model="newItem.description"></textarea>
        </div>   
        <div class="form-group">
          <!-- <label for="imageUrl">Image Url</label> -->
          <input type="url" name="imageUrl" id="imageUrl" placeholder="Image url (http://)" class="form-control" ng-model="newItem.imageUrl">
        </div>
        <button class="btn btn-primary" type="submit" ng-click="ok()">Submit</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </form>
    </div>
  </script>
</div>