<!-- EDIT ITEM MODAL -->
<div class="modal-header">
  <h3 class="modal-title">Lend this to..</h3>
  <p>If you want to use the item yourself, select yourself!</p>
</div>
<div class="modal-body">
  <form ng-submit="lendItem()">
    <div class="form-group">
      <select name="lendTo" id="lendTo" class="form-control" ng-model="lendItemState.borrowerID">
        <option value="">Lend to...</option>
        <option ng-repeat="user in usersToLend track by user.id" value="{{ user.id }}">{{ user.firstName }} {{user.lastName }}</option>
      </select>
    </div>
    <!-- Submit & cancel Buttons -->
    <button class="btn btn-primary" type="submit" ng-click="ok()">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </form>
</div>